<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<link href="./stile.css" rel="stylesheet" type="text/css">
<link href="./bootstrap.css" rel="stylesheet" type="text/css">
<link href="./bootstrap-theme.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./angular.js"></script>
<script type="text/javascript" src="./angular-resource.js"></script>
<script type="text/javascript" src="./app.js"></script>

<body x-ng-app="app" style="margin-left:20px">
ADMIN
<table>
	  <tr ng-repeat="utente in elencoAllenatori">
	  	<td>
				<input  style='width: 60px;' type="text"  ng-model="utente.nome"></input>
				<input  style='width: 60px;' type="text"  ng-model="utente.isAdmin"></input>
		</td>
	  </tr>
</table>
<input type="button" value="aggiorna" ng-click="aggiornaUtenti()"></input>

</body>
</html>