<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<link href="./stile.css" rel="stylesheet" type="text/css">
<link href="./bootstrap.css" rel="stylesheet" type="text/css">
<link href="./bootstrap-theme.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 
<script type="text/javascript" src="./angular.js"></script>
<script type="text/javascript" src="./angular-resource.js"></script>
 -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.1/angular-locale_it-it.min.js"></script>
    
<script type="text/javascript" src="./app.js"></script>
<script src="./sockjs.min.js"></script>
<script src="./stomp.min.js"></script>

<script>
</script>
<body x-ng-app="app" style="margin-left:20px">
 <div ng-controller="ModalDemoCtrl as pc" class="modal-demo">
	<!-- 
	     <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
	 -->
 </div>

<div ng-show="config">
	<label>CONFIGURAZIONE</label>
	<br>
	Numero utenti:<input  style='width: 60px;' type="number"  ng-model="numeroUtenti"></input>
	Gestione a turni<input  style='width: 20px;' type="checkbox"  ng-model="isATurni"></input>
	<input type="button" value="conferma" ng-if="numeroUtenti>1" ng-click="confermaConfigIniziale()"></input>
</div>

<div ng-hide="config">
	<div class="sezione" ng-click="sezLinkVisible=!sezLinkVisible">
	<i class="fa fa-chevron-down" ng-show="!sezLinkVisible"></i>
	<i class="fa fa-chevron-up" ng-show="sezLinkVisible"></i>
	Link</div>
	<div ng-show="sezLinkVisible" > <!-- LINK -->
		<a ng-if="isLoggato() && bSemaforoAttivo" href="#" ng-click="caricaAdmin()">Admin</a>
		<a href="./cronologiaOfferte.html" ng-click="aggiornaCronologiaOfferte()" target="_blank">Cronologia Offerte</a>
		<a href="./logger.html" target="_blank">Log</a>
		<a href="./liberi.html" target="_blank">Liberi</a>
	</div> <!-- LINK -->
	
	<div class="sezione" ng-click="sezUtentiVisible=!sezUtentiVisible">
		<i class="fa fa-chevron-down" ng-show="!sezUtentiVisible"></i>
		<i class="fa fa-chevron-up" ng-show="sezUtentiVisible"></i>
	Collegati</div>
	<div ng-show="sezUtentiVisible"> <!-- UTENTI -->
		<br>
		<table border>
		  <tr>
		  	<td style="padding-left:10px;padding-right:10px;text-align:center"></td>
		  	<td ng-show="isAdmin" style="padding-left:10px;padding-right:10px;text-align:center">Avvia</td>
		  	<td ng-show="isATurni" style="padding-left:10px;padding-right:10px;text-align:center">Turno</td>
		  </tr>
		  <tr ng-repeat="utente in elencoAllenatori  | orderBy:'ordine'">
		    	<td> <!-- nome -->
		    		<label ng-class="{nonSonoIo: !sonoLoggato(utente), sonoIo: sonoLoggato(utente)}">{{utente.nome}}</label>
			    	<a ng-show="!isLoggato() && !utenteCollegato(utente)" href=#><img style="margin-bottom:2px" alt='connetti' src='./connect-icon.png' ng-click="callDoConnect(utente.nome, utente.id, utente.pwd)" height="25" width="25"/></a>
					<img  ng-show="utenteCollegato(utente)" style="margin-bottom:2px" src='./connesso.jpeg' height="20" width="20"/>		    	
					<label style="width:30px;font-size:10" ng-show="utenteCollegato(utente)">({{latenza(utente)}})</label>
		    		<a ng-show="utenteScaduto(utente)" href=#><img src='./cestino.png' ng-click="cancellaUtente(utente)" height="20" width="20"/></a>
				    <a ng-show="sonoLoggato(utente)" href=#><img style="margin-bottom:2px" src='./disconnect-icon.png' alt='disconnetti' ng-click="doDisconnect()" height="20" width="20"/></a>
				</td>
		    	<td ng-show="isAdmin" style="padding-left:10px;padding-right:10px;text-align:center"> <!-- avvia -->
					<a ng-show="selCalciatore && durataAsta>0" href=#><img style="margin-bottom:2px" src='./startGiocatore.png' ng-click="inizia(utente.nome, utente.id)" height="20" width="20"/></a>
		    	</td>
		    	<td ng-show="isATurni" style="padding-left:10px;padding-right:10px;text-align:center">  <!-- turno -->
					<label ng-if="utente.ordine==turno"><i class="fa fa-thumbs-up"></i></label>
					<a ng-show="isAdmin && utente.ordine!=turno" href=#><img style="margin-bottom:2px" src='./vai.png' ng-click="forzaTurno(utente.ordine)" height="20" width="20"/></a>
				</td>
		  </tr>
		</table>
		<br>
		<label class="nextOperation" ng-show="!isLoggato() && elencoAllenatori.length==0">Lega in fase di inizializzazione</label>
		<label class="nextOperation" ng-show="!isLoggato() && elencoAllenatori.length>0">Connettiti</label>
	</div> <!-- UTENTI -->
	<br>
	<div ng-show="isLoggato()"> <!-- ISLOGGATO -->
		<div class="sezione" ng-click="sezOfferte=!sezOfferte">
		<i class="fa fa-chevron-down" ng-show="!sezOfferte"></i>
		<i class="fa fa-chevron-up" ng-show="sezOfferte"></i>
	Offerte</div>
	<br>
		<div ng-show="sezOfferte"> <!-- OFFERTA -->
			<div ng-show="bSemaforoAttivo && calciatori.length>0"> <!-- SELCALCIATORE -->
					<div ng-show="isAdmin || nomeGiocatoreTurno==nomegiocatore || !isATurni" 
					style="border-style:double;width:750px;text-align:center;margin: auto">
						<div>
							<!-- elenco calciatori -->	
			 				 <div style="text-align:center">
								 <label style="width:70px;text-align:center">Ruolo</label>
								 <label style="width:300px;text-align:center">Nome</label>
								 <label style="width:200px;text-align:center">Squadra</label>
								 <label style="width:70px;text-align:center">Quot.</label>
								 <!-- <label style="width:70px;text-align:center">Seleziona</label>  -->
							</div>
			 				 <div style="text-align:center">
								 <input style="width:70px" type=text ng-model=filterRuolo></input>
								 <input style="width:300px" type=text ng-model=filterNome></input>
								 <input style="width:200px" type=text ng-model=filterSquadra></input>
								 <input style="width:70px" type=text ng-model=filterQuotazione></input>
								 <!-- <label style="width:70px" ></label> -->
							</div>
						 </div>
						 <div style="overflow:auto;height:100px;">
							 <div ng-class="{calciatoreNonSelezionato: selCalciatoreId!=calciatore.id, calciatoreSelezionato: selCalciatoreId==calciatore.id}" 
							 ng-repeat="calciatore in calciatori | orderBy:'nome' | myTableFilter" ng-click="selezionaCalciatore(calciatore)" >
								 <label style="width:70px;text-align:center;cursor:pointer">{{calciatore.ruolo}}</label>
								 <label style="width:300px;text-align:center;cursor:pointer">{{calciatore.nome}}</label>
								 <label style="width:200px;text-align:center;cursor:pointer">{{calciatore.squadra}}</label>
								 <label style="width:70px;text-align:center;cursor:pointer">{{calciatore.quotazione}}</label>
								 <!-- <i style="width:70px;text-align:center" class="fa fa-bullseye"></i>  -->
							</div>
							</div>
							<!-- elenco calciatori -->	
							<br>
							<!-- 
							<select ng-model="selCalciatore" style="height:28px">
						  		<option ng-repeat="calciatore in calciatori" value="{{calciatore.id}}@{{calciatore.nome}}">{{calciatore.nome}} ({{calciatore.ruolo}}) {{calciatore.squadra}}</option>
							</select>
							 -->
						</div>
					<span ng-show="calciatori.length>0">
						<label class="nextOperation" ng-show="!selCalciatore && (nomeGiocatoreTurno==nomegiocatore||!isATurni) && bSemaforoAttivo" >Seleziona il calciatore</label>
						<span ng-show="selCalciatore && (nomeGiocatoreTurno==nomegiocatore || !isATurni) && durataAsta>0">
							<label class="nextOperation" >Avvia asta per {{selCalciatoreNome}} ({{selCalciatoreRuolo}}) {{selCalciatoreSquadra}}</label>
							<a href=# ng-show="selCalciatore && durataAsta>0 && (nomeGiocatoreTurno==nomegiocatore || !isATurni)"><img src='./startGiocatore.png' ng-click="start()" height="30" width="30"/></a> 
							<label>Secondi durata Asta: </label>
							<input ng-show="isAdmin" style='width: 60px;' type="number" ng-model="durataAsta" ng-change="aggiornaDurataAsta()"></input>
							<label ng-hide="isAdmin" style='width: 60px;' type="number">{{durataAsta}}</label>
<!-- 							<label ng-show="giocatoreDurataAsta">(Modificata da: {{giocatoreDurataAsta}})</label>  -->
						</span>
						<span ng-show="isATurni && bSemaforoAttivo">
							<label class="nextOperation" ng-show="nomeGiocatoreTurno!=nomegiocatore" >E' il turno di {{nomeGiocatoreTurno}}</label>
							<label class="nextOperation" ng-show="isAdmin && nomeGiocatoreTurno!=nomegiocatore && !selCalciatore" >. Puoi selezionare il calciatore al suo posto</label>
							<label class="nextOperation" ng-show="isAdmin && selCalciatore && nomeGiocatoreTurno!=nomegiocatore && durataAsta>0">. Puoi avviare l'asta al suo posto per {{selCalciatoreNome}} ({{selCalciatoreRuolo}}) {{selCalciatoreSquadra}}</label>
						</span>
					</span>
				</div>
				<span ng-show="calciatori.length==0">
					<label class="nextOperation">Bisogna caricare i giocatori<span ng-show="isAdmin">. Collegati alla pagina di Admin </span></label>
				</span>
			</div> <!-- SELCALCIATORE -->
	
			<div style="width:550px;padding-left:20px;margin:auto;text-align:center" ng-show="offertaVincente.nomegiocatore && timeStart<3"> <!-- RILANCIA -->
				<div style="border-style:double;width:350px;text-align:center">
					<input  style='width: 60px;' type="number"  ng-model="offerta"></input>
					<input type="button" value="allinea" ng-click="allinea()"></input>
				    <a href=#><img style="margin-bottom:2px" src='./rilancio.png' ng-click="inviaOfferta()" height="35" width="35"/></a>
					<input type="button" value="+1" ng-click="incrementa(1)"></input>
					<input type="button" value="+5" ng-click="incrementa(5)"></input>
					<input type="button" value="+10" ng-click="incrementa(10)"></input>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<br>
					<label class="nextOperation" ng-show="offertaVincente.nomegiocatore!=giocatore">Puoi rilanciare</label>
				</div>
				<div ng-show="isAdmin" style="border-style:double;width:350px;text-align:center">
					<table style="margin:auto">
						<tr>
							<td style="color: green;">Opera come:</td>
						</tr>
						<tr ng-class="{calciatoreNonSelezionato: idgiocatoreOperaCome!=allenatore.id, calciatoreSelezionato: idgiocatoreOperaCome==allenatore.id}" ng-repeat="allenatore in elencoAllenatori" ng-click="selezionaAllenatoreOperaCome(allenatore)" >
							<td ng-show="allenatore.id!=idgiocatore">{{allenatore.nome}}</td>
						</tr>
					</table>
					<label class="nextOperation" ng-show="!idgiocatoreOperaCome">Puoi selezionare altro allenatore</label>
					<span ng-if="idgiocatoreOperaCome">
						<input  style='width: 60px;' type="number"  ng-model="offertaOC"></input>
						<input type="button" value="allinea" ng-click="allinea('OC')"></input>
			
					    <a href=#><img style="margin-bottom:2px" src='./rilancio.png' ng-click="inviaOfferta('OC')" height="35" width="35"/></a>
						<input type="button" value="+1" ng-click="incrementa(1, 'OC')"></input>
						<input type="button" value="+5" ng-click="incrementa(5, 'OC')"></input>
						<input type="button" value="+10" ng-click="incrementa(10, 'OC')"></input>
						<label class="nextOperation">Puoi rilanciare per altro allenatore</label>
					</span>
				</div>
			</div> <!-- RILANCIA -->  
	
			<div ng-show="timeout" align=center> <!-- TIMEOUT -->
					<label  class="correnteVincente">Asta per {{offertaVincente.giocatore.nome}} ({{offertaVincente.giocatore.ruolo}}) {{offertaVincente.giocatore.squadra}} in timeout da {{giocatoreTimeout}} 
					<br>Al momento vince l'offerta fatta da {{offertaVincente.nomegiocatore}} con {{offertaVincente.offerta}}
					<br>Passati {{millisFromPausa/1000 | number:0}} secondi su {{durataAsta | number}} </label>
					<br>
					<label class="nextOperation" ng-show="offertaVincente.nomegiocatore!=giocatore">Rimuovi la pausa</label>
					<br>
					<a href=#><img src='./resume.jpeg' ng-click="resumeAsta()" height="50" width="50"/></a>
			</div> <!-- TIMEOUT -->
	
			<div ng-show="offertaVincente.nomegiocatore && !timeout"> <!-- OFFERTAINCORSO -->
				<div ng-show="timeStart<3">
			 		<div class="pb"> 
			 				<track-progress-bar col-val='{{timeStart}}' cur-val='{{contaTempo}}' max-val='{{durataAsta*1000}}'></track-progress-bar>
			 				<label>{{contaTempo /1000 |number:0}}/{{durataAsta | number}}</label>
			 		</div>
			 	</div>
				<br><br>
				<div align=center>
					<label ng-show="timeStart==3 && offertaVincente.nomegiocatore==giocatore" class="finitoVincente">
						Hai vinto {{offertaVincente.giocatore.nome}} ({{offertaVincente.giocatore.ruolo}}) {{offertaVincente.giocatore.squadra}} con {{offertaVincente.offerta}}    
					</label>
					<label ng-show="timeStart==3 && offertaVincente.nomegiocatore!=giocatore" class="finitoPerdente">
						{{offertaVincente.nomegiocatore}} ha vinto {{offertaVincente.giocatore.nome}} ({{offertaVincente.giocatore.ruolo}}) {{offertaVincente.giocatore.squadra}} con {{offertaVincente.offerta}}
					</label>
					<label ng-show="timeStart<3 && offertaVincente.nomegiocatore==giocatore" class="correnteVincente">
						Stai vincendo {{offertaVincente.giocatore.nome}} ({{offertaVincente.giocatore.ruolo}}) {{offertaVincente.giocatore.squadra}} con {{offertaVincente.offerta}}
					</label>
					<label ng-show="timeStart<3 && offertaVincente.nomegiocatore!=giocatore" class="correntePerdente">
						{{offertaVincente.nomegiocatore}} sta vincendo {{offertaVincente.giocatore.nome}} ({{offertaVincente.giocatore.ruolo}}) {{offertaVincente.giocatore.squadra}} con {{offertaVincente.offerta}}
					</label>
						<br>
						<label ng-show="timeStart==3 && !isAdmin" class="nextOperation">Asta da confermare</label>
						<a ng-show="timeStart==3 && isAdmin" href=#>
							<label class="nextOperation">Devi confermare o annullare l'asta</label>
							<br>
							<img src='./conferma.jpeg' ng-click="conferma()" height="30" width="30"/>
							<img src='./annulla.jpeg' ng-click="annulla()" height="30" width="30"/>
						</a> 
				</div>
				<div  ng-show="isAdmin && timeStart<3" align=center>
					<a href=#><img src='./stop.jpg' ng-click="terminaAsta()" height="50" width="50"/></a>
				</div>
				<div  ng-show="timeStart<3" align=center>
					<a href=#><img src='./pausa.jpeg' ng-click="pausaAsta()" height="50" width="50"/></a>
				</div>
			</div> <!-- OFFERTAINCORSO -->
		
			<div ng-show="false"> <!-- BUG BLOCCO -->
				<div  ng-hide="bSemaforoAttivo || !isAdmin" align=center>
					<a href=#><img src='./verde.png' ng-click="liberaSemaforo()" height="50" width="50"/></a>
				</div>
			</div> <!-- BUG BLOCCO -->
		</div> <!-- OFFERTA -->
	</div> <!-- ISLOGGATO -->

	<br>
	<div class="sezione" ng-click="sezLog=!sezLog">
		<i class="fa fa-chevron-down" ng-show="!sezLog"></i>
		<i class="fa fa-chevron-up" ng-show="sezLog"></i>
	Log sessione corrente</div>
	<div ng-show="sezLog"> <!-- LOG -->
		<br>
		<table border>
		  <tr ng-repeat="messaggio in messaggi | orderBy: 'data': 'reverse'">
		    <td style="padding-left:10px;padding-right:10px;text-align:left">{{messaggio.data | date :'dd/MM/yyyy, HH:mm:ss:sss'}}</td>
		    <td style="padding-left:10px;padding-right:10px;text-align:left">{{messaggio.categoria}}</td>
		    <td style="padding-left:10px;padding-right:10px;text-align:left">{{messaggio.testo}}</td>
		  </tr>
		</table>
	</div> <!-- LOG -->

</div>
</body>
</html>