.sortorder:after {
  content: '\25b2';   
}
.sortorder.reverse:after {
  content: '\25bc';   
}
.sortorderNO {
  content: '\25c6';   
}
.pb {
  background-color: white;
  height: 50px;
  padding: 30px 20px 0 20px;
  text-align: center;
}

/* Styles for the track-progress-bar directive element */
.progress-bar-bkgd {
  width: 96%;
  height: 40px;
  border: none;
  marginX: 0 2px 0 2px;
  background-color: black;
}

.progress-bar-marker {
  width: 0px;
  height: 100%;
  color: #fff;
  font-weight: normal
}
.correntePerdente {
	background-color: white;
	color: red;
	font-size: 36px;
	font-weight: bold;
}
.correnteVincente {
	background-color: white;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.finitoPerdente {
	background-color: yellow;
	color: red;
	font-size: 36px;
	font-weight: bold;
}
.finitoVincente {
	background-color: yellow;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.sezione {
	width: 98%;
	background-color: lightgray;
	color: black;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer; 
}
.nextOperation{
	color: red;
	font-size: 20px;
	font-weight: bold;
}
.calciatoreSelezionato {
	color: red;
	background-color: lightgreen;
	cursor: pointer; 
	text-align:center;
}

.calciatoreNonSelezionato {
	color: black;
	background-color: white;
	cursor: pointer; 
	text-align:center;
}

.sonoIo {
	color: red;
	font-weight: bold;
	text-align:left;
	padding-left:10px;
}

.nonSonoIo {
	color: black;
	text-align:left;
	padding-left:10px;
}

