.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
.pb {
  background-color: white;
  height: 50px;
  padding: 30px 20px 0 20px;
  text-align: center;
}

/* Styles for the track-progress-bar directive element */
.progress-bar-bkgd {
  width: 96%;
  height: 40px;
  border: none;
  marginX: 0 2px 0 2px;
  background-color: black;
}

.progress-bar-marker {
  width: 0px;
  height: 100%;
  color: #fff;
  font-weight: normal
}
.correntePerdente {
	background-color: white;
	color: red;
	font-size: 36px;
	font-weight: bold;
}
.correnteVincente {
	background-color: white;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.finitoPerdente {
	background-color: yellow;
	color: red;
	font-size: 36px;
	font-weight: bold;
}
.finitoVincente {
	background-color: yellow;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.sezione {
	width: 98%;
	background-color: lightgray;
	color: black;
	font-size: 16px;
	font-weight: bold;
}
.nextOperation{
	color: red;
	font-size: 20px;
	font-weight: bold;
}




