div {
  Xbackground-color: yellow;
  font-size:12;
  }
table {
  font-size:12;
  }
input {
	font-size:12;
}
 img {
 	width:40px;
 	height:40px;
 }
 .imgConnetti{
 	width:20px;
 	height:20px;
 }
 .selCalciatore{
 	height:150px;
 }
 .inputAllinea{
	width: 50px;'
 }
 .imgAllinea {
 	width:30px;
 	height:30px;
 }
 .btnAllinea1{
	width: 75px;
 }
 .btnAllinea2{
	width: 55px;
 }
 .btnAllinea3{
	width: 55px;
 }
.latenza {
	font-size: 10px;
}
.sortorder:after {
  content: '\25b2';   
}
.sortorder.reverse:after {
  content: '\25bc';   
}
.sortorderNO {
  content: '\25c6';   
}
.pb {
  background-color: white;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}
.progress-bar-bkgd {
  height: 40px;
  border: none;
  background-color: black;
}

.progress-bar-marker {
  width: 0px;
  height: 100%;
  color: #fff;
  font-weight: normal
}
.correntePerdente {
	background-color: white;
	color: #8F5C01;
	font-size: 36px;
	font-weight: bold;
}
.correnteVincente {
	background-color: white;
	color: green;
	font-size: 36px;
	font-weight: bold;
}
.finitoPerdente {
	background-color: yellow;
	color: #8F5C01;
	font-size: 36px;
	font-weight: bold;
}
.finitoVincente {
	background-color: yellow;
	color: green;
	font-size: 36px;
	font-weight: bold;
}
.sezione {
	width: 98%;
	background-color: lightgray;
	color: black;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer; 
}
.nextOperation{
	color: red;
	font-size: 20px;
	font-weight: bold;
}
.calciatoreSelezionato {
	color: red;
	background-color: lightgreen;
	cursor: pointer; 
	text-align:center;
}

.calciatoreNonSelezionato {
	color: black;
	background-color: white;
	cursor: pointer; 
	text-align:center;
}

.sonoIo {
	color: red;
	font-weight: bold;
	text-align:left;
}

.nonSonoIo {
	color: black;
	text-align:left;
}
@media  (max-width: 980px) {
	  div {
		  font-size:50;
	      Xbackground-color: lightblue;
	  }
	  table {
		  font-size:50;
	  }
      input {
		font-size:50;
	  }
	 img {
	 	width:160px;
	 	height:160px;
	 }
 	 .latenza {
    		font-size: 30px;
	 } 
	 .imgConnetti {
	 	width:80px;
	 	height:80px;
	 }
	 .selCalciatore{
	 	height:350px;
	 }
	 .inputAllinea{
		width: 180px;'
	 }
	 .imgAllinea {
	 	width:100px;
	 	height:100px;
	 }
	 .btnAllinea1{
		width: 205px;
		font-size:40;
	 }
	 .btnAllinea2{
		width: 120px;
		font-size:40;
	 }
	 .btnAllinea3{
		width: 135px;
		font-size:40;
	 }
	  .correntePerdente {
		font-size: 56px;
	  }
	  .correnteVincente {
		font-size: 56px;
	  }
	  .finitoPerdente{
		font-size: 56px;
	  }
	  .finitoVincente{
		font-size: 56px;
	  }
	  .sezione{
		font-size: 46px;
	  }
	  .nextOperation{
		font-size: 56px;
	  }
	  .divCalciatore{
		  font-size:35;
	  }
}
